extends layout

block content
    h1 Profile
    form(method='post')
        div.form-group
            h3 Mashery Area Information
            p This information is needed for authenticating the API requests made.
            label(for='username') Mashery Username 
            input(type='text', class='form-control', id='username', name='username',placeholder='username', required)
            label(for='password') Mashery Password 
            input(type='password', class='form-control', id='password', name='password', placeholder='password', required)
            label(for='areaUuid') Area UUID
            input(type='textfield', class='form-control', id='areaUuid', name='areaUuid', placeholder='d7823180-9c4d-11e5-8994-feff819cdc9f', required)
            p #{token}
            button(type='submit', class='btn btn-default') Submit
